<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>OOP Javascript &amp; JS Architecture</title>
	
	<meta name="description" content="A jQuery library for modern HTML presentations">
	<meta name="author" content="Caleb Troughton">
	<meta name="viewport" content="width=1024, user-scalable=no">
	
	<!-- Core and extension CSS files -->
	<link rel="stylesheet" href="core/deck.core.css">
	<link rel="stylesheet" href="extensions/goto/deck.goto.css">
	<link rel="stylesheet" href="extensions/menu/deck.menu.css">
	<link rel="stylesheet" href="extensions/navigation/deck.navigation.css">
	<link rel="stylesheet" href="extensions/status/deck.status.css">
	<link rel="stylesheet" href="extensions/hash/deck.hash.css">
	
	<!-- Theme CSS files (menu swaps these out) -->
	<link rel="stylesheet" id="style-theme-link" href="themes/style/tikal-monokai.css">
	<link rel="stylesheet" id="transition-theme-link" href="themes/transition/horizontal-slide.css">
	
	<!-- Custom CSS just for this page -->
	<link rel="stylesheet" href="css/introduction.css">
	<link rel="stylesheet" href="css/shCore.css">
	<link rel="stylesheet" href="css/shCoreDefault.css">
	
	<style type="text/css">
		/* ANIMATION FUNCTIONS */
		
		@-webkit-keyframes birdAttack {
			0%   { top: 300px; left: 20px;-webkit-transform: rotate(65deg);}
			40%  { top: 200px; left: 500px}
			100% { top: 300px; left: 1280px;-webkit-transform: rotate(-65deg);}
		}
		
		@-webkit-keyframes birdAttackLow {
			0%   { top: 500px; left: 150px;-webkit-transform: rotate(95deg);}
			50%  { top: 300px; left: 550px}
			100% { top: 500px; left: 1280px;-webkit-transform: rotate(-25deg);}
		}
		
		@-webkit-keyframes birdAttackLow2 {
			0%   { top: 450px; left: 10px;-webkit-transform: rotate(50deg);}
			60%  { top: 350px; left: 450px}
			100% { top: 450px; left: 1280px;-webkit-transform: rotate(-35deg);}
		}
		
		@-webkit-keyframes birdAttackYellow {
			0%   { top: 250px; left: 100px;-webkit-transform: rotate(75deg);}
			55%  { top: 320px; left: 695px}
			100% { top: 250px; left: 1280px;-webkit-transform: rotate(-45deg);}
		}
		
		/**/
		.angry-bird {
			/*box-shadow: 0 10px 10px #fff;*/
			position: absolute;
		}
		.bird-attack {
			-webkit-animation: birdAttack 6s infinite;
		}
		.bird-attack-low {
			-webkit-animation: birdAttackLow 7s infinite;
		}
		
		.bird-attack-low2 {
			-webkit-animation: birdAttackLow2 7s infinite;
		}
		
		.bird-attack-yellow {
			-webkit-animation: birdAttackYellow 6s infinite;
		}
		.tikal-logo {
			background: rgba(0, 0, 0, .5) url(images/tikal-logo.png) no-repeat top left;
			background-size: cover;
			width: 200px;
			height: 67px;
			position: fixed;
			bottom: 10px;
			left: 10px;
			border-radius: 10px;
			padding: 10px !important;
		}
		.tikal-com {
			background: url(images/tikal-com.png) no-repeat top left;
			background-size: cover;
			width: 75px;
			height: 65px;
			padding: 10px !important;
			display: inline-block;
			position: relative;
			top: 23px;
		}
	</style>
	<script src="js/modernizr.custom.js"></script>
</head>

<body class="deck-container">

<!--section class="slide">
	<h2>"So much complexity in software comes from trying to make one thing do two things." - Ryan Singer (37signals)</h2>
	<h2>"A clever person solves a problem. A wise person avoids it." - Einstein</h2>
	<!-- <h2>"If testing seems hard, there's something wrong with your design." - Sandi Metz</h2> -->
	<!-- <h2>"If you've chosen the right data structures and organized things well, the algorithms will almost always be self-evident." - Rob Pike</h2> --->
</section -->

<section class="slide" id="title-slide">
	<h1 id="title">OOP Javascript &amp; JS Architecture</h1>
	<div id="title-description">
		<h2>By Oren Farhi</h2>
		<!-- <h2>By Oren Farhi / JS &amp; UI Developer <span class="tikal-com"></span>@Tikal</h2> -->
	</div>
	<div id="bblack" class="bird-attack angry-bird"><img src="images/black.png" width="70px" height="80px"/></div>
	<div id="bred" class="bird-attack-low angry-bird"><img src="images/red.png" width="70px" height="60px"/></div>
	<div id="byellow" class="bird-attack-yellow angry-bird"><img src="images/yellow.png" width="70px" height="60px"/></div>
	<div id="bblue" class="bird-attack-low2 angry-bird"><img src="images/blue.png" width="70px" height="60px"/></div>
</section>

<section class="slide" id="about-me">
	
	<h2>Oren Farhi</h2>

	<h3>Front End Architect &amp; JS Engineer @Tikal</h3>
	<ul>
		<li>Javascript Developer</li>
		<li>Backbone.js, Underscore, jQuery</li>
		<li><a href="http://orizens.com">orizens.com</a></li>
		<li><a href="http://twitter.com/orizens">@orizens</a></li>
		<li><a href="http://github.com/orizens">github - orizens</a></li>
	</ul>

</section>

<section class="slide " id="tikal">
	<h2>Tikal</h2>

	<img src="images/tikal-logo.png">
	<h3>Tikal is a leading provider of open source solutions</h3>
	
	<ul>
		<li>employing more than 80 software experts (ALM, JS, Java, Ruby, .NET, Mobile)</li>
		<li>software stacks</li>
		<li>workshops</li>
		<li>subscription for software development</li>
		<li>tikalk.com</li>
	</ul>

</section>

<section class="slide">
	<h2>Nowdays: Single page app is the thing!</h2>
	<ul>
		<li>Gmail</li>
		<li>Twitter</li>
		<li>Grooveshark</li>
		<li>LinkedIn Mobile</li>
	</ul>
	<div>
		<img src="images/gmail-logo.png" alt="" width="240px" height="160px" class="size-2 inline"/>
		<img src="images/twitter-follow-bird.jpg" alt="" width="240px" height="160px" class="size-2 inline"/>
		<img src="images/grooveshark-logo.jpg" alt="" width="240px" height="160px" class="size-2 inline"/>
	</div>
</section>

<section class="slide" id="base-structure">
	<h2>The Base Structure For A JS Application</h2>
	<div>
		<img src="images/flow-chart-actual.png" />
	</div>
	
</section>

<section class="slide" id="agenda">
	<h2>The Agenda For Today</h2>
	<div>
		<img src="images/flow-chart-angry-birds.png" />
	</div>
</section>

<section class="slide" id="lets-play">
	<h1>Lets Play!</h1>
</section>

<section class="slide" id="step-1">
	<h2><span class="red-bird"></span>Step 1: The Red Bird</h2>
	<!-- Show a screenshot -->
	<h3>RedAngryBird.js</h3>
	<div class="slide">
		<pre class="brush: js">var color = "red";
var birdName = "redHat";
var powers = ["emptyHands"];
var isAttacked = false;</pre>
	</div>
<div class="slide">
	<pre class="brush: js">function attack($bird, animationConfig) {
	isAttacked = true;
	arm($bird);
	$bird.animate(animationConfig);
}
function removeBird($bird, removeConfig) {
	if (isAttacked)
		$bird.animate(removeConfig);
}
function getBirdHitScore ($bird) {
	return calculateScore($bird.position() + $nowPig.position());
}</pre>
</div>
<div class="slide">
	<pre class="brush: js">var redBird = $("#redBird");
redBird.on("click", function(this){
	attack($(this), {left: 1000, top: 250});
});</pre>
</div>
	
</section>

<!-- redBird: modular -->
<section class="slide">
	<h2><span class="red-bird"></span>Step 1: The Red Bird - Revisited</h2>
	<h3>RedAngryBird.js</h3>
	<div class="slide">
		<pre class="brush: js">function RedAngryBird(htmlId, config) {
	this.color = "red";
	this.powers = config.powers;
	this.isAttacked = false;
	this.htmlId = htmlId;
	this.$bird = $("#" + htmlId);
}</pre>
	</div>
<div class="slide">
	<pre class="brush: js">RedAngryBird.prototype = {
	attack: function () {
		this.isAttacked = true;
		this.arm();
		this.$bird.animate(this.animate.attack);
	},
	
	remove: function () {
		if (this.isAttacked) {
			this.$bird.animate(this.animate.destroy);
		}
	},

	arm: function() { /*...*/}
};</pre>
</div>
</section>

<section class="slide">
	<h2><span class="red-bird"></span>Step 1: The Red Bird - Usage</h2>
	<div class="slide">
	<h3>Creating Birds (instances)</h3>
		<pre class="brush: js">

			var redHat = new RedAngryBird("jim", {name: "jim"});
			var redNosed = new RedAngryBird("red", {name: "red"});
			
		</pre>
	</div>

	<div class="slide">
	<h3>Use the birds:</h3>
		<pre class="brush: js">
			redHat.attack();
			redNosed.attack();
			redHat.remove();
		</pre>
	</div>
</section>

<section class="slide" id="red-demo-slide">
	<button id="red-demo">Play!</button>
	<h2 class="demo-title">Demo</h2>
	<iframe class="demo-container" id="red-frame-demo" src="" frameborder="0" style="height: 80%; width: 100%;"></iframe>
</section>

<section class="slide" id="step-2">
	<h1>Step 2: Enter The Blue Bird</h1>
</section>

<!-- <section class="slide">
	<h2><span class="blue-bird"></span>Step 2: Rundown</h2>
	<ul>
		<li>Inheritance</li>
		<li>Function Overloading</li>
		<li>Reuse</li>
	</ul>
</section> -->

<section class="slide">
	<h2><span class="blue-bird"></span>Step 2: Enter The Blue Bird</h2>
	<h3>AngryBird.js</h3>
	<div class="slide"><pre class="brush: js">function AngryBird(htmlId, config) {
	this.color = config.color; // <- NEW Color property
	this.powers = config.powers;
	this.isAttacked = false;
	this.$bird = $(htmlId);
}</pre><div>
		<div class="slide"><pre class="brush: js">AngryBird.prototype = {
	attack: function () {
		this.isAttacked = true;
		this.arm();
		this.$bird.animate(this.animate.attack);
	},
	
	remove: function () {
		if (this.isAttacked) {
			this.$bird.animate(this.animate.destroy);
		}
	},
	arm: function () { /*...*/ }
};</pre></div>
</section>


<section class="slide">
	<h2><span class="blue-bird"></span>Step 2: The Blue Bird - Usage</h2>
	<h3>mainAppSomewhere.js</h3>
<div class="slide"><pre class="brush: js">var twitter = new AngryBird("#twitter", {color: "blue", name: "jim"});
var redHat = new AngryBird("#red", {color: "red", name: "red"});

twitter.attack();

redHat.attack();

redHat.remove(); //- removes only "redHat" from the DOM
</pre></div>
</section>

<section class="slide">
	<button id="blue-demo">Play!</button>
	<h2 class="demo-title">Demo</h2>
	<iframe class="demo-container" id="blue-frame-demo" src="" frameborder="0" style="height: 80%; width: 100%;"></iframe>
</section>

<section class="slide">
	<h2><span class="blue-bird"></span>Step 2: Blue Bird - New Powers</h2>
	<h3>BlueAngryBird.js</h3>
	<div class="slide"><pre class="brush: js">//- 1. define a class
function BlueAngryBird () { this.color = 'blue' }</pre></div>
<div class="slide"><pre class="brush: js">//- 2. define the inheritance
BlueAngryBird.prototype = new AngryBird;</pre></div>
<div class="slide"><pre class="brush: js">//- 3. fix the constructor
BlueAngryBird.prototype.constructor = BlueAngryBird;</pre></div>
<div class="slide"><pre class="brush: js">//- 4.1 overide the arm method with a special arm
BlueAngryBird.prototype.arm = function() {
	this.powers.push(new AngryBird(/*..*/));
	this.powers.push(new AngryBird(/*..*/));
	this.powers.push(new AngryBird(/*..*/));
	this.$bird.on("click", this.split.bind(this));
}</pre></div>
<div class="slide"><pre class="brush: js">//- 4.2 adding NEW method - split birds
BlueAngryBird.prototype.split = function() {
	for(var i = 0; i < this.powers.length; i++) {
		this.usePower(this.power[i]);
	}
}</pre></div>
<div class="slide"><pre class="brush: js">//- 5. create the bird
var twitter = new BlueAngryBird("#twitter", {name: "twitter"});
twitter.color;	// outputs "blue"
twitter.arm();	// invokes the new method</pre></div>
	
</section>

<section class="slide" id="step-3">
	<h1>Step 3: The Red Bird - with Backbone.js</h1>
</section>

<!-- <section class="slide">
	<h2><span class="red-bird"></span>Step 3: Rundown</h2>
	<ul class="slide">
		<li>JS Class</li>
		<li>Modular JS Library (Backbone.js)</li>
	</ul>
</section> -->

<section class="slide">
	<h2><span class="red-bird"></span>Step 3: The Red Bird Model</h2>
	<h3>RedBirdModel.js</h3>
	<div class="slide">
		<pre class="brush: js">var RedBirdModel = Backbone.Model.extend({
	isAttacked: function() {
		return this.get("isAttacked");
	},

	poof: function() {
		//- fires change events when data change 
		this.set({isDismissed: true});
	}
});</pre>
	</div>

	<div class="slide"><pre class="brush: js">var redModel = new RedBirdModel( birdProperties );

redModel.get("isAttacked") // returns "false"

var redhat = new RedBirdView({ model: redModel });</pre>
	</div>

	</section>

<section class="slide">
	<h2><span class="red-bird"></span>Step 3: The Red Bird View</h2>
	<h3>RedBirdView.js</h3>
	<pre class="brush: js">var RedBirdView = Backbone.View.extend({

	events: {
		"click": "attack"
	},

	initialize: function() {
		this.model.on('change', this.render, this);
	},

	render: function() { ... },

	attack: function() {
		if (this.model.isAttacked()) {
			this.model.poof();
		} else {
			this.model.set('isAttacked', true);
		}
	}

});</pre>
</section>

<section class="slide" id="step-4">
	<h1>Step 4: Yellow Bird - Dependancy & Extending</h1>
</section>

<section class="slide">
	<button id="yellow-demo">Play!</button>
	<h2 class="demo-title">Demo</h2>
	<iframe class="demo-container" id="yellow-frame-demo" src="" frameborder="0" style="height: 80%; width: 100%;"></iframe>
</section>

<section class="slide">
	<h2><span class="yellow-bird"></span>Step 4: Rundown</h2>
	<ul>
		<li>Templating</li>
		<li>Asynchronos Dependancy Management (AMD)</li>
		<li>Model-View</li>
		<li>Privacy</li>
	</ul>
</section>

<section class="slide">
	<h2><span class="yellow-bird"></span>Step 4: Yellow Bird - Dependancy &amp; Template (underscore.js)</h2>
	<h3>bird.html</h3>
	<pre class="brush: html">
<div class="bird <%= birdColor %>">
	<div class="head"><%= birdHead %></div>
	<div class="body"><%= birdBody %></div>
	<div class="legs"><%= birdLegs %></div>
</div>
	</pre>
	<div class="slide">
		<h3>use it:</h3>
		<pre class="brush: js">
var birdData = {
	birdColor: "yellow",
	birdHead: {/*...*/},
	birdBody: {/*...*/},
	birdLegs: {/*...*/}
}
var birdHtml = _.template( birdTemplateString, birdData );
		</pre>
	</div>
</section>

<section class="slide" id="requirejs"> 
	<h2><span class="yellow-bird"></span>Step 4: Yellow Bird - Require.js</h2>
	<pre class="brush: js">require(
	
	["js/AngryBird", "js/RedAngryBird", "libs/jquery", "libs/backbone"], 
	
	function(angryBird, redAngryBird, $, Backbone){
	//- statements
});</pre>

<div class="slide">
	<h3>define a single module:</h3>
	<pre class="brush: js">define(
	
	["js/AngryBird", "libs\jquery", "libs\backbone"], 
	
	function(angryBird, $, Backbone){
		return {/* ... */};
});</pre></div>
</section>

<section class="slide">
	<h2><span class="yellow-bird"></span>Step 4: Yellow Bird - Dependancy</h2>
	<h3>AngryBirdView.js</h3>
	<pre class="brush: js">define([
	"libs/jquery", "libs/underscore", "libs/backbone",
	"text!templates/bird.html"],
</pre><div class="slide"><pre class="brush: js">
	function($, _, Backbone, birdTemplate) {
		
		var bird = Backbone.View.extend({
			attack: function() {...},
			arm: function() {...}
		})
		
		return bird;
	}
)</pre></div>
</section>

<section class="slide" id="bird-dependancy">
	<h2><span class="yellow-bird"></span>Step 4: Yellow Bird</h2>
	<h3>YellowBirdView.js</h3>
	<pre class="brush: js">define([
"lib/jquery", "libs/underscore", "libs/backbone", 
"js/AngryBirdView",
"text!templates/bird.html"],

function($, _, B, AngryBird, birdTemplate) {</pre>
<div class="slide"><pre class="brush: js">			//- private variable
			var birdSpeed = 2;</pre></div>

<div class="slide">
	<pre class="brush:js">
	//- YELLOW BIRD
	var yellowBird = AngryBird.extend({
	arm: function() {...},
	
	flyFast: function () {
		birdSpeed *= 2; //- reference to private
		this.fly();
	}
})

return yellowBird;
})</pre></div>
</section>

<section class="slide" id="bird-dependancy-use">
	<h2><span class="yellow-bird"></span>Step 4: Yellow Bird - Dependancy Extending &amp; Privacy</h2>
	<h3>mainAppSomewhere.js</h3>
	<pre class="brush: js">
require("path/to/YellowBirdView", 

function(yellowBird) {
	//- create new 
	var yellowChello = new yellowBird();
	
	yellowChello.flyFast(); 
	yellowChello.birdSpeed *= 5; //- JS Error - birdSpeed not defined

});</pre>
</section>

<section class="slide" id="step-5">
	<h1>Step 5: The Level Module</h1>
</section>

<section class="slide">
	<h2>Step 5: Rundown</h2>
	<ul>
		<li>Url based Navigation</li>
		<li>Using Local Storage</li>
	</ul>
	<img src="images/levels-menu.jpg" />
</section>

<section class="slide" id="level-module">
	
	<h2>Step 5: The Level Module</h2>
	<h3>Navigation in URL</h3>
	<ul>
		<li>http://angrybirds.com/game/#help</li>
		<li>http://angrybirds.com/game/#levels/5</li>
		<li>http://angrybirds.com/game/#levels/1/2</li>
	</ul>

	<div class="slide">
		<h3>GameRouter.js</h3>
		<pre class="brush: js">
var GameRouter = Backbone.Router.extend({
	routes: {
		"help":                 "showHelp",
		"levels/:level":        "goTolevel",
		"levels/:level/:scene": "goToScene"
	},

	//- 2. callbacks to handle entry points
	showHelp: function() { /*...*/ },

	goToLevel: function(level) { /* */ }

	goToScene: function(level, scene) { /* */ }
});</pre>
	</div>
	
</section>

<section class="slide">
	
	<h2>Step 5: The Level Module - Replaying levels</h2>
	<h3>GameMenuManager.js</h3>
	<pre class="brush: js">//- called from Levels Menu Module
var GameMenuManager = Backbone.View.extend({

	//- 1. define dom events
	events: {
		"click .scene": "startScene"
	},

	//- 2. start to play a scene
	startScene: function(ev) {
		GameRouter.navigate("levels/1/2", {trigger: true});
}})</pre>
	
</section>

<section class="slide" id="storage">
	<h2>Step 5: HTML5's Storing Data with Backbone.Safe</h2>
	<h3>GameStorage.js</h3>
	<pre class="brush: js">
//- Game Storage Module
define([ "libs/jquery", "libs/underscore", "libs/backbone",
	"libs/backbone/safe"
	function($, _, B, Safe) {
		var GameStorage = Backbone.Model.extend({</pre>
	<div class="slide"><pre class="brush: js">// define Safe
		initialize: function() {
			Backbone.Safe.create("angry-birds-levels", this);
		},</pre></div>
	<div class="slide"><pre class="brush:js">		
				setLevelSuccess: function(level, isPassed, score) { 
					this.set({
						level: level,
						isPassed: isPassed,
						score: score
					});
				}
			})
			
			return GameStorage;
		})</pre>
	</div>
	
</section>

<section class="slide" id="step-6">
		
	<h1>Step 6: The Game Controller </h1>
	
</section>

<section class="slide" id="controller">	
	<h2>Step 6: Game Controller</h2>
	<div>
		<img src="images/flow-chart-controller.png" />
	</div>

</section>	

<section class="slide">
	<h2>Step 6: The Game Controller - Usage</h2>
	<h3>BlueAngryBird.js</h3>
	<div class="slide">
		<pre class="brush: js">define([ "some-depended-files "], function($, _, B, AngryBird, birdTemplate) {
	
var blueBird = AngryBird.extend({
	
	initialize: function(gameController) {
		//- 1. listen to Game Events
		this.gameController = gameController;
		gameController.on("bird-success-hit", this.hooray, this);
	},

	hooray: function() { /* happy happy joy joy */ },</pre>
</div>

<div class="slide">
	<pre class="brush: js">
	attack: function() {
		//- 2. notify the game
		if (this.model.get('isSuccessAttack')) {
			this.gameController.trigger("bird-success-hit", this.model.birdId);
		}
	},
	
	
	})
	return blueBird;
})</pre></div>
	
</section>

<section class="slide">
	<h2>Step 6: The Game Controller (Core)</h2>
	<h3>GameController.js</h3>
	<div class="slide">
		<pre class="brush: js">
	var GameController = Backbone.View.extend({
		//- 1. notify/publish events to the core game controller
		trigger: function (eventName, eventData) { /**/ },
		
		//- 2. allow modules to listen/subscribe to other events
		on: function (eventName, handler, scope) {...},</pre>
	</div>
			
	<div class="slide">
		<pre class="brush: js">		//- 3. constructor
			initialize: function() {
				this.modules = {
					gameManager: new GameManager( this ),
					gameStorage: new GameStorage( this ),
					gameRouter: new GameRouter( this ),
					levelsManager: new LevelsManager( this )
				};
			},</pre>
	</div>

<div class="slide">
	<pre class="brush:js">//- possible modules operations
	startAll: function(modules) { /**/ },
	
	stopAll: function() { /**/ },
	
	disableModule: function(moduleId) { /**/ },
	
	enableModule: function(moduleId) { /**/ }
})</pre>
</div>
	
</section>

<!--section class="slide" id="step-7">
	<h1>Step 7: Angry Bird Dummies</h1>
	<img src="images/dummies.jpg" />
</section>

<section class="slide" id="testing">
	<h2>Step 7: JS Unit Testing</h2>
	<ul>
		<li>Phantom.js</li>
		<li>JsUnit.js</li>
		<li>Many more...</li>
	</ul>

</section>

<section class="slide">
	<h2>Step 7: Phantom Bird</h2>
	<h3>BlueAngryBirdTest.js</h3>
	<pre class="brush: js">
	var BlueAngryBirdTest = Backbone.View.extend({

		initialize: function() {
			//- 1. phantom object
			var page = new WebPage();

			//- 2. remember GameRouter?
			var url = "myAngryBirds.com/levels/1/1";
			
			//- 3. callback to start playing
			page.open(url, function (status) {
				var twitty = new BlueAngryBird();
				twitty.arm();
				twitty.attack();
			});
		}
	});</pre>
	
</ -->

<section class="slide" id="future">
	<h2>On The Long Term...</h2>
	<h3>Concern for the future:</h3>
	<ul>
		<li>We have no idea how our application will grow (Nicholas Zakas, FED Engineer)</li>
		<li>Have Control in one place</li>
		<li>Divide To Modules</li>
		<li>Communicate through events</li>
	</ul>
	<img src="images/driven.jpg" alt=""/>
</section>

<section class="slide" id="the-end">
	
	<h2>Q &amp; A <br>Thank you!</h2>
	<p>Credits: <a href="http://www.tikalk.com/">Tikal Techs</a>, <a href="http://www.mrdoob.com">mr doob</a> for chrome experiments</p>
	<p>Inspiration: Nicholas Zakas, Addy Osmani</p>
	<div>
		<img class="size-fixed-1" src="images/the-end.jpg" alt=""/>
	</div>
</section>

<!-- deck.js controls -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<p class="deck-status">
	<span class="deck-status-current"></span>
	/
	<span class="deck-status-total"></span>
</p>

<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

<!-- <div class="tikal-logo"></div> -->

  <!-- Grab CDN jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="js/jquery-1.7.min.js"></script>

<!-- Deck Core and extensions -->
<script src="core/deck.core.js"></script>
<script src="extensions/hash/deck.hash.js"></script>
<script src="extensions/menu/deck.menu.js"></script>
<script src="extensions/goto/deck.goto.js"></script>
<script src="extensions/status/deck.status.js"></script>
<script src="extensions/navigation/deck.navigation.js"></script>

<!-- Specific to this page -->
<script src="introduction.js"></script>
<script src="js/shCore.js"></script>
<script src="js/shBrushJScript.js"></script>
<script src="js/shBrushXml.js"></script>
<script src="js/tikal.js"></script>
<script>
	var birdsDemos = [
		{isShown: false, id: "red-demo", idFrame: "red-frame-demo", url: "demos/red.html"},
		{isShown: false, id: "blue-demo", idFrame: "blue-frame-demo", url: "demos/blue.html"},
		{isShown: false, id: "yellow-demo", idFrame: "yellow-frame-demo", url: "demos/yellow.html"}
	];
	for (var i = 0; i < birdsDemos.length; i++) {
		activateDemo(birdsDemos[i]);
	};
	function activateDemo (bird) {
		$("#" + bird.id).on("click", function(){
			if (!bird.isShown) {
				$(this).text("Close");
				$("#" + bird.idFrame).attr("src", bird.url);
				bird.isShown = true;
			} else {
				$(this).text("Play!");
				$("#" + bird.idFrame).attr("src", "");
				bird.isShown = false;
			}
		});
	}
</script>

</body>
</html>
